@import "compass_twitter_bootstrap";

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.loginbox {
  width: 250px;
  margin: 0 auto;
}

.user-img {
    box-shadow: 0 0 10px #555;
    border-radius: 15px;
    width: 30px;
}

table#tweets tr td.user-block {
    padding: 20px;
}

.user-name {
    margin-bottom: 10px;
    margin-top:4px;
    display:block;
}

